.select {
  position: relative;
  display: block;
  width: 100%;
  color: var(--black);
  border: none;

  &--blue {
    background: var(--blue);
  }

  &--validated {
    color: var(--black);
    border-bottom: 0.2rem solid var(--green);
  }

  &--narrow {
    height: 4.4rem;
    padding: 1.2rem 0.8rem;
  }

  &-sm {
    height: 4.6rem;
  }

  &::placeholder {
    color: var(--black);
    font-size: 1.5rem;
  }

  .select__current {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btn-dropdown__icon {
      margin-left: 1rem;
      font-size: 1rem;
      transform: rotate(0deg);

      span {
        position: absolute;
        top: 50%;
        right: 1.5rem;
        color: var(--grey);
        transform: translateY(-50%);
      }

      img {
        transition: var(--transition-2);
      }
    }
  }

  .select__list {
    position: absolute;
    top: 6.5rem;
    left: 0;
    z-index: 5;
    display: none;
    width: 100%;
    overflow: hidden;
    color: var(--black);
    background: var(--white);
    border-radius: 0.2rem;

    &.show {
      display: block;
    }
  }

  .select__item {
    padding: 1.8rem 1.2rem;
    cursor: pointer;

    &:hover {
      background: rgba(#32902d, 0.1);
    }

    &--active {
      font-weight: var(--fw-700);
    }

    &:not(:last-child) {
      border-bottom: 1px solid #eee;
    }
  }
}

.filter {
  position: relative;
  font-size: 1.2rem;
  font-family: ProximaNova-Semibold, sans-serif;
  letter-spacing: 0.048rem;
  text-transform: uppercase;

  &-text {
    display: flex;
    gap: 0.4rem;
    align-items: center;
    cursor: pointer;
  }

  &-arrow {
    position: relative;
    top: -0.1rem;
    transition: var(--transition-1);
  }

  &-list {
    position: absolute;
    top: 2rem;
    z-index: 2;
    display: none;
    min-width: 20rem;
    overflow: hidden;
    background: var(--white);
    border-radius: 0.2rem;

    &.is--active {
      display: block;
    }
  }

  &-item {
    padding: 1rem;
    cursor: pointer;

    &:hover {
      background: var(--blue);
    }
  }
}
