html {
  /* 10px / 16(по умолчанию) = 0.625 -> 62.5% */
  font-size: 62.5%;
}

body {
  @include text;

  position: relative;
  overflow-x: hidden;
  color: var(--black);
  background: var(--white);

  @media screen and (max-width: 768px) {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}

.container {
  position: relative;
  width: 120rem;
  margin: 0 auto;
  padding: 0;
}

.section-empty {
  margin-top: 7rem;
}

span {
  display: inline;
}

a {
  color: var(--black);
}

sup {
  font-size: 1.2rem;
}

.link {
  text-decoration: underline;
}

.text-bold {
  @include text-bold;
}

// используется в .section-advantages__list
.section-spacing {
  padding: 3rem 2rem !important;
}
