@media screen and (max-width: 1400px) {

}

@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
    padding: 0 3rem;
  }
  
  .navigation {
    &__list {
      gap: 2rem;
    }
  }

  .section-credit {
    &__list {
      display: flex;
      flex-direction: column;
    }

    &__item {
      width: 70%;
      height: 100%;
    }
  }

  .section-steps {
    &__item {
      width: 45%;
    }
  }

  .section-cards {
    &__item {
      width: 48%;
    }

    .card-header__image {
      width: 100%;
    }

    .swiper-wrapper {
      flex-wrap: wrap;
      gap: 2rem !important;
    }
  }

  .footer {
    &__bottom {
      &-inner {
        flex-wrap: wrap;
        gap: 3rem;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .navigation {
    overflow-x: auto;
    white-space: nowrap;
  }

  .mobile {
    // display: block;

    &__list {
      
    }
  }

  .section-decor {
    &__list {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__item {
      width: 50%;
      min-width: 38rem;
    }
  }

  .section-cards {
    &__list {
      flex-wrap: wrap;
      justify-content: center;

      .swiper-wrapper {
        flex-wrap: wrap;
        gap: 3rem !important;
      }
    }

    &__item {
      width: 45%;
    }
  }

  .card {
    &-header {
      &__image {
        width: 100%;
      }
    }
  }

  .footer {
    &__top {
      &-inner {
        flex-wrap: wrap;

        > * {
          width: 45%;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .section-steps {
    &__item {
      width: 100%;
    }
  }

  .section-question {
    &__inner {
      flex-wrap: wrap;
      padding: 0;
    }

    &__content {
      width: 100%;
    }

    &__form {
      width: 100%;
    }

    &__submit {
      flex-wrap: wrap;
      justify-content: space-between;
      height: auto;

      .form__checkbox {
        margin-bottom: 2rem;
      }
    }
  }

  .footer {
    &__top {
      &-inner {
        flex-wrap: wrap;
        gap: 0;

        > * {
          width: 100%;
        }
      }

      &-contact {
        margin-bottom: 3rem;
      }
    }
  }
}

@media screen and (max-width: 930px) {
  .header {
    box-shadow: 0 0.5rem 1.5rem 0 rgba(36, 35, 33, 0.07);
  }

  .navigation {
    display: none;
  }

  .header-info {
    display: none;
  }

  .header-mobile {
    display: flex;
  }

  .section-main {
    &__content {
      width: 100%;
    }

    &__subtitle {
      margin-bottom: 40rem;
    }

    &__car {
      top: 15rem;
      right: -15rem;
      width: 100%;
    }

    &__image {
      width: 70rem;
    }

    &__box {
      top: -5rem;
      width: 30rem;
      height: 30rem;
    }
  }

  .section-suitable {
    padding: 3rem 0;

    &__list {
      flex-direction: column;
    }

    &__item {
      width: 100%;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .section-advantages {
    &__title {
      width: 100%;
    }

    &__benefit {
      &-list {
        gap: 3rem;
      }

      &-item {
        width: 40%;
        margin-bottom: 2rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .section-credit {
    padding: 4rem 0;
  
    &__item {
      width: 100%;
    }
  }

  .section-advantages {
    &__item {
      gap: 1rem;
      width: 100%;
      font-size: 1.4rem;

      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }

    &__benefit {
      &-list {
        gap: 2rem;
      }

      &-item {
        width: 100%;
        font-size: 1.4rem;
      }

      &-image {
        width: 5rem;
        min-width: 5rem;
        margin-right: 1rem;
      }
    }
  }

  .section-decor {
    &__item {
      width: 100%;
      min-width: 100%;
    }

    &__text {
      padding-left: 3rem;
      font-size: 1.6rem;
    }
  }

  .section-cards {
    padding: 4rem 0;

    &__list {
      flex-wrap: nowrap;

      .swiper-wrapper {
        flex-wrap: nowrap;
        gap: 0 !important;
      }
    }

    &__item {
      width: 100%;
    }

    &__btn {
      display: none;
    }

    &__dots  {
      display: flex;
    }
  }

  .section-question,
  .section-purchase {
    padding: 4rem 0;
  }

  .footer {
    &__bottom {
      &-links {
        flex-wrap: wrap;
      }
    }
  }

  // Slider
  // [data-section-cards-slider] {
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   overflow: hidden;
  // }

  // [data-section-cards-slide] {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  // }
}

@media screen and (max-width: 560px) {
  .container {
    width: 100%;
    padding: 0 1rem;
  }

  .header {
    height: 8rem;
  }

  .header-logo {
    &__img {
      width: 7rem;
    }

    &__title {
      font-size: 1.4rem;
    }

    &__text {
      font-size: 1.2rem;
    }
  }

  .section-main {
    padding: 3rem 0;

    &__title {
      line-height: 4rem;
    }

    &__subtitle {
      margin-bottom: 30rem;
    }

    &__car {
      top: 25rem;
      right: -5rem;
      width: 100%;
    }

    &__box {
      top: -5rem;
      right: -15rem;
      width: 30rem;
      height: 30rem;

      &.box-blue {
        right: -12rem;
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .header {
    height: 7rem;
  }

  .header-logo__content {
    display: none;
  }

  .section-main {
    &__subtitle {
      margin-bottom: 20rem;
      font-size: 1.4rem;
    }
  }

  .card-header {
    &__yellow-list,
    &__blue-list {
      width: 12rem;
    }

    &__yellow-item,
    &__blue-item {
      display: flex;
      align-items: center;
      font-size: 1rem;
      line-height: 1.2rem;
    }
  }
}
